@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body{
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.d-grid{
  display: grid;
  grid-template-columns: repeat(5, 90px);
  row-gap: 10px;
  column-gap: 10px;
}

.d-flex{
  display: flex;
}

.gap-10{
  gap: 100px;
}

.totalScore{
  font-size: 60px;
  color: rgb(25, 226, 25);
  margin: 0;
}
.parent{
  background-color: #292a2b;
  padding: 20px;
  border-radius: 15px;
  padding-bottom: 0px;
}

.checkout-button{
  height: 50px;
  width: 150px;
  font-size: 20px;
  background: rgb(25, 226, 25);
  color: black
}

h3{
  margin: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: linear-gradient(45deg, #0dec0d, #ff7300, #7bff00);
  -webkit-background-clip: text;
  color: transparent;
}

p{
  font-size: 38px;
  color: rgb(25, 226, 25);
  margin: 0;
}

.totalScore p {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-item{
 display: flex;
 flex-direction: row;
 margin: 40px;
 text-align: center;
 justify-content: space-between;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
